In [1]:
import pandas as pd
import re

boxer_df = pd.read_csv("./data/boxer_records.csv")

boxer_df

def fix_ids(dataframe) -> pd.dataframe:
    """
    removes everything not an int, in the ID column
    """
    boxer_df.re

,ID,Name,Wins,Losses,Draws,Country,Region,Town/City,Years_Active,Career_Start,Career_End
0,540164,Abdelkader,0,1,0,Spain,Islas Canarias,Gharshin,Less than a year,2009,2009
1,750997,Abdi,5,3,0,Indonesia,New York,Purwokerto,2,2016,2018
2,761866,Abdullah,0,1,0,Indonesia,Okayama,Urumqi,Less than a year,2016,2016
3,865806,Abdullah,0,2,0,Pakistan,Ohio,New York,Less than a year,2019,2019
4,579074,Abdullah,0,1,0,Indonesia,Maine,Urumqi,Less than a year,2009,2009
5,398947,Abudanto,1,0,0,Indonesia,NaN,Urumqi,Less than a year,2006,2006
6,744579,Abudusong,0,1,0,China,NaN,Delhi,Less than a year,2016,2016
7,640996,Aby,0,1,0,Indonesia,NaN,NaN,Less than a year,2010,2010
8,826188,Adam,1,1,0,Indonesia,NaN,NaN,Less than a year,2018,2018
9,196055,Adeng,0,0,1,Indonesia,NaN,NaN,Less than a year,2003,2003
10,773160,Adolf,0,1,0,USA,NaN,NaN,Less than a year,1927,1927
11,448231,Adrigo,1,1,0,Indonesia,NaN,NaN,1,2007,2008
12,436557,Ady,0,1,0,Indonesia,NaN,NaN,Less than a year,2008,2008
13,212177,Afriadin,4,3,0,Indonesia,NaN,NaN,2,2003,2005
14,569299,Afrizal,0,2,0,Indonesia,NaN,NaN,8,2008,2016
15,454117,Aguli,0,1,0,China,NaN,NaN,Less than a year,2008,2008
16,860746,Agus,0,2,0,Indonesia,NaN,NaN,Less than a year,2018,2018
17,355594,Agus,2,2,0,Indonesia,NaN,NaN,2,2004,2006
18,770263,Aikeremujiang,4,1,0,China,NaN,NaN,1,2016,2017
19,765874,Aisikaer,0,1,0,China,NaN,NaN,Less than a year,2016,2016
20,076122,Akanksha,0,2,0,India,NaN,NaN,Less than a year,2013,2013
21,865140,Akash,3,3,0,India,NaN,NaN,4,2018,2022
22,373616,Akki,0,1,0,Japan,NaN,NaN,Less than a year,2006,2006
23,277279,Al,0,1,0,USA,NaN,NaN,Less than a year,1925,1925
24,568171,Al,0,1,0,USA,NaN,NaN,Less than a year,1936,1936
25,606016,Victor Mendoza,1,1,0,Mexico,México,Xalapa,Less than a year,2012,2012
26,825941,Victor Mendoza,4,0,0,Mexico,Veracruz,Nogales,Less than a year,2016,2016
27,o/3110,Victor Mendoza,12,22,0,Mexico,Sonora,Homestead,16,1996,2012
28,203603,Walberto Mendoza,0,1,0,Colombia,Texas,Hermosillo,Less than a year,1998,1998
29,194678,Wilde Mendoza,0,1,0,Paraguay,Florida,San Juan de Uraba,Less than a year,1959,1959
30,109479,Wilfredo Mendoza,5,5,2,USA,Sonora,Los Cordobas,3,1986,1989
31,421504,Willie Mendoza,0,1,0,USA,Sonora,Philadelphia,Less than a year,1930,1930
32,453853,Wilmer Mendoza,1,3,0,Mexico,Distrito Federal,Miami,1,2008,2009
33,840060,Yahir Aran Mendoza,0,14,1,Mexico,Pennsylvania,San Francisco,3,2018,2021
34,872502,Yazzael Mendoza,0,2,0,Colombia,Arizona,Leeds,Less than a year,2019,2019
35,719454,Yeison Mendoza,0,2,0,Venezuela,California,Puerto Armuelles,4,2015,2019
36,095474,Yoangel Mendoza,0,1,0,Mexico,Yorkshire,San Pedro,Less than a year,2022,2022
37,241896,Yonathan Mendoza,0,1,0,Colombia,Coahuila de Zaragoza,Ciudad Lerdo,Less than a year,2004,2004
38,871103,Yonathan Mendoza,3,2,1,USA,Durango,Santa Cruz de la Sierra,1,2019,2020
39,637159,Young Mendoza,1,3,0,USA,Chiapas,Tonala,Less than a year,1910,1910
40,782046,Young Mendoza,1,0,0,USA,Sonora,Hermosillo,Less than a year,1927,1927
41,186765,Young Mendoza,1,3,0,United Kingdom,NaN,NaN,4,1922,1926
42,556806,Young Joe Mendoza,0,1,0,Indonesia,NaN,NaN,Less than a year,1930,1930
43,/69317,Zico Mendoza,0,1,0,Panama,NaN,NaN,Less than a year,2001,2001
44,650305,Zuliana Mendoza,3,2,1,Mexico,NaN,NaN,1,2013,2014
45,514459,Zurdo Mendoza,3,2,0,Mexico,NaN,NaN,6,1959,1965
46,/74599,Zurdo Mendoza,38,17,2,Bolivia,NaN,NaN,6,1951,1957
47,770034,David Mendoza,1,0,0,Mexico,NaN,NaN,Less than a year,2016,2016
48,836790,Victor Mendoza,1,1,0,Mexico,NaN,NaN,Less than a year,2018,2018
49,782935,Jose Mendoza Barrera,0,16,0,NaN,NaN,NaN,4,2016,2020